<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a routerLink="/landing" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/users" class="nav-link">Users</a>
    </li>
    <li class="nav-item">
      <a routerLink="/aboutus" class="nav-link">About us</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="/contactus" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Contact Us
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/contactus/email">Email</a>
        <a class="dropdown-item" routerLink="/contactus/telephone">Telephone</a>
      </div>
    </li>
    <li *ngIf="isUserLoggedIn()" class="nav-item">
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>